h1 {
	text-align: center;
}

.App {
	height: 100%;
}

@media (min-width: 768px) {
	.home-categories {
		max-width: 968px;
		margin: auto;
	}
}

svg {
	margin-bottom: 0.2rem;
}

.back-button {
	opacity: 0.5;
	transition: opacity 0.15s ease-in-out;
}

.back-button:hover {
	opacity: 1;
}

.bg-less-dark {
	background-color: #112b38;
}

.no-decoration {
	text-decoration: none;
}

@media (min-width: 720px) {
	.searchbox-container {
		width: 60%;
		margin: auto;
	}

	#eventa-logo {
		margin: 0 0 0 65px;
	}
}
