h1 {
	text-align: center;
}

.App {
	height: 100%;
}

@media (min-width: 768px) {
	.home-categories {
		max-width: 968px;
		margin: auto;
	}
	.searchbox-container {
		width: 60%;
		margin: auto;
	}

	/* #eventa-logo {
		margin: 0 0 0 65px;
	} */
}

svg {
	margin-bottom: 0.2rem;
}

.back-button {
	opacity: 0.5;
	transition: opacity 0.15s ease-in-out;
}

.back-button:hover {
	opacity: 1;
}

.bg-less-dark {
	background-color: #112b38;
}

.no-decoration {
	text-decoration: none;
}
.nav-pills a {
	color: white;
}
.nav-pills > a.active,
.nav-pills > a.active:hover {
	background-color: #279b97 !important;
}

.dashboard {
	height: 100%;
}

footer {
	position: absolute;
	transform: translateY(0%);
	min-height: 150px;
	width: 100%;
}

@media (max-width: 560px) {
	.dashboard aside {
		position: sticky;
		bottom: 0;
		height: fit-content;
		margin-top: auto;
	}
	.dashboard .nav-pills {
		margin-top: auto !important;
		justify-content: space-around;
	}

	footer {
		display: none;
	}
}

.fade-appear,
.fade-enter {
	z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 300ms linear 150ms;
}

.fade-exit {
	opacity: 1;
}
.fade-exit.fade-exit-active {
	opacity: 0;
	transition: opacity 150ms linear;
}
